@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    background-color: #363636;
}

.ContienePeliculas {
	width: 95%;
    margin: auto;
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ContienePoster img{
	width: 200px;
	height: auto;
}

.ContieneTituloInicio {
	width: 90%;
	padding: 5%;
	text-align: center;
}
.ContieneTituloInicio p {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 60px;

}
.ContienePoster {
	height: 0px;
	overflow: hidden;
}
.ContieneSinopsis {
	height: 0px;
	overflow: hidden;
}
.ContienePelicula {
	width: auto;
    margin: 30px;
    border-radius: 21px;
    overflow: hidden;
}
.FalsoFondo {
	background: #000000ad;
    width: 199px;
    /* padding: 50px; */
    /* height: 0px; */
    height: 109px;
    padding: 30px;
    background: #00000026;
}
.ContieneTitulo p {
	
	font-family: 'Montserrat', sans-serif;
}
.ContieneTitulo {
	 background-image: linear-gradient(180deg, #00000000, #000000);
    /* position: absolute; */
    width: 200px;
    /* left: 0; */
    margin-left: -30px;
    margin-top: 64px;
    padding: 30px;
}













