@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    background-color: #031b25;
}

.ContienePeliculas {
	width: 95%;
    margin: auto;
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 0.4s ease;
}

.ContienePoster img{
	width: 200px;
	height: auto;
}

.ContieneTituloInicio {
	width: 90%;
	padding: 5%;
	text-align: center;
}
.ContieneTituloInicio p {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 60px;

}
.ContienePoster {
	height: 0px;
	overflow: hidden;
}
.ContieneSinopsis {
	height: 0px;
	overflow: hidden;
	    transition: all 0.8s ease;
	    opacity: 0;
}
.ContieneSinopsis p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}
.ContienePelicula {
	width: auto;
    margin: 30px;
    border-radius: 21px;
    overflow: hidden;
    transition: all 0.4s ease;

}
.FalsoFondo {
	background: #000000ad;
    width: 199px;
    /* padding: 50px; */
    /* height: 0px; */
    height: 109px;
    padding: 30px;
    background: #00000000;
    transition: all 0.4s ease;
}
.ContieneTitulo p {
	
	font-family: 'Montserrat', sans-serif;
}
.ContieneTitulo {
	 background-image: linear-gradient(180deg, #00000000, #000000);
    /* position: absolute; */
    width: 200px;
    /* left: 0; */
    margin-left: -30px;
    margin-top: 64px;
    padding: 30px;
}
.ContienePelicula:hover {
	transition: all 0.3s ease;
	 transform: scale(1.3);
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Invisible {
	opacity: 0;

}
.Visible {
	opacity: 1;
}
a {
	text-decoration: none;
}













