
/* Contenedor del buscador */
#search {
  position: relative;
  display: inline-block;
}

/* Menu desplegable donde se cargan las peliculas cuando escribes en el buscador */
#suggestions {
  position: absolute;
  top: 50px;
  width: 275px;
  height: auto;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 4px;
  background-color: #2a6fee;
  color: #fff;
  display: none;
  z-index: 10;
}

#suggestions a {
  text-decoration: none;
  color: #40ff96;
}

#suggestions a:hover {
  color: #ffe240;
}

/* Barra del buscador */
#searchBar {
  padding: 0 10px;
  width: 255px;
  height: 32px;
  border: 1px solid #40ff96;
  background: 0 0 #ffffff;
  color: #136d39;
  line-height: 32px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.poster {
  margin: 10px;
  width: 65px;
  border-radius: 10%;
  float: left;
}

/* Informacion sobre la pelicula */
.info {
  height: 100px;
  padding: 12px;
}

/* Boton para ver todos los resultados */
#viewAll {
  top: 37px;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #40ff96;
  color: #1c5bd1;
  display: none;
  z-index: 10;
  padding: 10px 0;
  text-align: center;
}